@model List<FoundItem>

@{
    ViewData["Title"] = "List of FoundItems";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Lost Area</th>
                    <th>Lost Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="item.photoURL" alt="@item.ItemName" />
                        </td> 
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.LostArea)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a>|
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a>|
                            <a class="btn btn-danger text-white"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
